
<p>Welcome, @User.Identity?.Name (@User.GetUserId())</p>

<h3>Actions</h3>
<p>
	<a asp-action="SignOut">Sign Out</a> |
	<a asp-action="Allow">Allow</a> |
	<a asp-action="Deny">Deny</a>
</p>

<h4>Claims</h4>
@foreach (var item in User.Claims)
{
	<p>@item.Subject - @item.Type - @item.Value</p>
}
